.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin: auto;
}

.PuRecipesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.PuObjectSummary {
  width: 22vw;
  margin: 1vw 1vw;
  border-style: solid;
  box-shadow: 2px 2px;
}

.inputOutputFlex {
  display: flex;
}

.bomListContainer {
  width: 50vw;
  font-size: 12px;
  line-height: 0.2em;
}

.Ticker {
  text-decoration: underline;
}
